ai2thor
aiohappyeyeballs
aiohttp
aiosignal
alembic
alfworld
annotated-types
anyio
attrs
banal
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cloudpickle
confection
cymem
dataset
distro
faiss-cpu
farama-notifications
fast-downward-textworld
filelock
flask
frozenlist
fsspec
gym
gym-notices
gymnasium
h11
hashids
httpcore
httpx
huggingface-hub
idna
importlib-metadata
iniconfig
itsdangerous
jericho
jinja2
jiter
joblib
jsonschema
jsonschema-specifications
langcodes
language-data
litellm
llm-agent
mako
marisa-trie
markdown-it-py
markupsafe
mdurl
mementos
mpmath
multidict
murmurhash
networkx
numpy
openai
opencv-python
packaging
pandas
pillow
pluggy
progressbar2
prompt-toolkit
propcache
pycparser
pydantic
pydantic-core
pygments
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-utils
pytz
pyyaml
referencing
regex
requests
rich
rpds-py
sentence-transformers
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
sqlalchemy
srsly
sympy
tatsu
termcolor
textworld
tiktoken
tokenizers
torch
torchvision
tqdm
typer
typing-extensions
tzdata
urllib3
wasabi
wcwidth
weasel
werkzeug
wrapt
yarl
zipp
